<div class="container mt-3">
    <section class="d-flex justify-content-between ">

        <div class="col-4">
            <form   [formGroup]="filterOption" (ngSubmit)="filter()">

                
                <div class="row g-3 align-items-center">
                   <div class="col-auto">

                       <label class="col-form-label">Filtter</label>
                    </div>
                    <div class="col-auto">

                        <select class="form-select" formControlName="id" >
                            <option value="0" >all</option>
                            @for (item of typecontacts; track $index) {
                                <option value={{item.typecontactid}}> {{item.type}}</option>
                            }
                        </select>
                    </div> 
                    <div class="col-auto">

                        <button type="submit" class="btn btn-success" > buscar</button>
                    </div>
                </div>
            </form>

         
            
        </div>
        <div class="">
            <app-modal-action name="crear" (confirForm)="refresh($event)"  color="btn-primary"/>   
        </div>
    </section>
    <table class="table text-center table-striped shadow">
        <thead>
            <tr>
                <td>Type</td>
                <td>Name</td>
                <td>Number</td>
                <td>Coment</td>
                <td>Adicional Info</td>
                <td>Second adicional Info </td>
                <td colspan="2" > Actions</td>
            </tr>
        </thead>
        <tbody>
            @if ( contacts ) {
                @if(option === 0){
                    @for (item of contacts; track item.contactid) {
                            <tr>
                                <td>{{ item.typecontact}}</td>
                                <td>{{ item.name}}</td>
                                <td>{{ item.phonenum}}</td>
                                <td>{{ item.comment}}</td>
                                <td>{{ item.infoextra1}}</td>
                                <td>{{ item.infoextra2}}</td>
                                <td><app-modal-action name="editar" color="btn-warning" (confirForm)="refresh($event)" idContact={{item.contactid}} /></td>
                                <td><app-modal-action name="eliminar" color="btn-danger" idContact={{item.contactid}} (confirmEvent)="refresh($event)"/></td>
                            </tr>
                        
                    }
                }@else{
                    @for (item of contacts; track item.contactid) {
                       @if (item.typecontactid ===  option) {

                           <tr>
                               <td>{{ item.typecontact}}</td>
                               <td>{{ item.name}}</td>
                               <td>{{ item.phonenum}}</td>
                               <td>{{ item.comment}}</td>
                               <td>{{ item.infoextra1}}</td>
                               <td>{{ item.infoextra2}}</td>
                               <td><app-modal-action name="editar" color="btn-warning" (confirForm)="refresh($event)" idContact={{item.contactid}} /></td>
                               <td><app-modal-action name="eliminar" color="btn-danger" idContact={{item.contactid}} (confirmEvent)="refresh($event)"/></td>
                           </tr>
                       } 
                    
                }
                }
            }
            <tr>

                
            </tr>
        </tbody>
    </table>
    
</div>