<nav class="navbar  navbar-expand-lg shadow" style="background-color: #20a7e6">
    <div class="container-fluid">
     
        <div class="col-auto">

          <a class="navbar-brand" style="color: azure;">Contacts</a>
        </div>

        
        <div class="d-flex  ">
            @if (valid) {
              
              <button class="btn btn-danger" (click)="logout()"> log out</button>
            }@else{
              
              <app-modal-action name="login" color="btn btn-light mt-2" />
            }
        
        </div>     <!-- <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
  
    </div>
  </nav>